name: Actualizar estados Shopify CTT

permissions:
  contents: read

on:
  schedule:
  workflow_dispatch:

jobs:
  update-shipping-status:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          lfs: false

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Ejecutar script
        env:
          SHOPIFY_ACCESS_TOKEN: ${{ secrets.SHOPIFY_ACCESS_TOKEN }}
          SHOPIFY_STORE_DOMAIN: ${{ secrets.SHOPIFY_STORE_DOMAIN }} # ej: dondefue.myshopify.com
          ORDERS_LIMIT: "250"
          LOCAL_TZ: "Europe/Madrid"
        run: python update_shipping.py
