name: Actualizar estados Shopify CTT

permissions:
  contents: read

on:
  schedule:
    - cron: "*/25 * * * *"
  workflow_dispatch:

jobs:
  update-shipping-status:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Ejecutar script
        env:
          SHOPIFY_ACCESS_TOKEN: ${{ secrets.SHOPIFY_ACCESS_TOKEN }}
          SHOP_URL: "https://dondefue.myshopify.com"
          SHOPIFY_API_VERSION: "2023-10"
          TZ_NAME: "Europe/Madrid"
          ORDERS_LIMIT: "250"
        run: python update_shipping.py
